<div class="container">

  <header class="header">
    <h1>Panel de Control de Cursos</h1>
    <p>Gestión interna de oferta formativa</p>
  </header>


  <section class="carta-1">


    <form (ngSubmit)="agregarCurso()">
      <h2>Registrar nuevo curso</h2>

      <input placeholder="Nombre del curso" [(ngModel)]="nombreCurso" name="nombreCurso">

      <input class="form-control" type="number" placeholder="Duración (Horas)" [(ngModel)]="duracion" name="duracion"
        required>


      <select class="form-control" [(ngModel)]="nivel" placeholder="Nivel" name="nivel" required>

        <option value="" disabled selected hidden>Nivel</option>
        <option value="Basico">Básico</option>
        <option value="Intermedio">Intermedio</option>
        <option value="Avanzado">Avanzado</option>

      </select>


      <button class="boton-azul" type="submit">Agregar Curso</button>



    </form>
  </section>


  <section class="carta-2">
    <h2>Cursos registrados</h2>

    <p *ngIf="cursos.length === 0">
      No hay cursos registrados
    </p>

    <div class="curso-carta" *ngFor="let curso of cursos">

      <h3>{{ curso.nombre }}</h3>
      <p>Duración: {{ curso.duracion }} horas</p>
      <p>Nivel: {{ curso.nivel }}</p>

      <span class="medalla" [class.active]="curso.activo" [class.inactive]="!curso.activo">
        {{ curso.activo ? 'Activo' : 'Inactivo' }}
      </span>


      <div class="actions">
        <button (click)="cambiarEstado(curso.id)">
          {{ curso.activo ? 'Desactivar' : 'Activar' }}
        </button>

        <button (click)="eliminarCurso(curso.id)">
          Eliminar
        </button>
      </div>

    </div>

  </section>

</div>