body {
    background-color: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1973D2;
    padding: 22px;
}

.header h1 {
    color: #F5F8FB;
    text-align: center;
    font-size: 25px;
}

.header p {
    color: #cdd4dc;
    text-align: center;
    font-size: 16px;
}

.carta {
    background-color: #F0F5F5;
}

.carta-1 {
    max-width: 550px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    color: #404040;
    font-size: 18px;
    margin-left: 10px;
}

input {
    width: 92%;
    padding: 10px;
    margin: 10px;
}

select {
    width: 96%;
    padding: 10px;
    margin: 10px;
}

.boton-azul {
    background-color: #1973D2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    width: 96%;
}

.carta-2 {
    max-width: 550px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carta-2 h2 {
    color: #404040;
    font-size: 18px;
    margin-left: 10px;
}

p {
    color: #404040;
    font-size: 16px;
    margin-top: 30px;
}

.curso-carta {
    border: 1px solid #baabab;
    border-radius: 8px;
    margin-bottom: 15px;
}

.curso-carta h3 {
    color: #404040;
    font-size: 15px;
    margin: 10px;
}

.curso-carta p {
    color: #404040;
    font-size: 14px;
    gap: 15px;
    margin-left: 13px;
}


.class.active {
    background-color: #C8E6C8;
    color: #404040;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.botones {
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: none;
    color: white;
    margin-left: 10px;
    margin-top: 80px;
    font-size: 15px;
}

.active {
    background-color: #68cc68;
}

.inactive {
    background-color: #f25e5e;
}

.acciones {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    gap: 10px;
    margin-right: 20px;
}

.boton-estado {
    background-color:#FFAF00;
    color: #ffffff;              
    border: none;
    padding: 5px 10px;          
    border-radius: 4px;     
}

.boton-eliminar {
    background-color: #E65F5A;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}